/** RESET **/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* COLORS */

:root {
  /* PRIMARY */

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* NEUTRAL */

  --dark-blue: hsl(234, 12%, 34%);
  --grey-blue: hsl(229, 6%, 66%);
  --light-grey: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 23.4rem;
}

/* HEADER  */

header {
  text-align: center;
  margin: 5em 2em;
}

.page-title {
  font-weight: 200;
  font-size: 1.5rem;
  font-weight: 200;
  color: #4d4f62;
}

.page-title span {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

.page-title-content {
  font-size: 0.9rem;
  color: #4d4f62;
  margin-top: 16px;
}

/* MAIN */
.main-container {
  margin: 0 32px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 25px;
}

.cards {
  padding: 28px;
  box-shadow: 0 4px 4px 0 hsl(229, 6%, 66%);
  border-radius: 5px;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #4d4f62;
  margin-bottom: 1px;
}

.card-content {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #4d4f62;
  letter-spacing: 0.09px;
}

.card-images {
  margin-top: 33px;
  margin-left: auto;
}

.card1 {
  border-top: 5px solid var(--cyan);
}

.card2 {
  border-top: 5px solid var(--red);
}

.card3 {
  border-top: 5px solid var(--orange);
}

.card4 {
  border-top: 5px solid var(--blue);
}
/* FOOTER */

.attribution {
  font-size: 0.6rem;
  text-align: center;
  margin-top: 4rem;
  color: rgb(58, 57, 57);
}
.attribution a {
  color: rgb(26, 131, 117);
}

@media (min-width: 69.37rem) {
  /* HEADER */
  header {
    width: 540px;
  }

  header span {
    display: inline-block;
  }

  .main-container {
    margin: 2em 10em;
    display: grid;
    grid-template-areas:
      "cardone cardtwo cardfour"
      "cardone cardthree cardfour";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    align-items: center;
    grid-gap: 30px;
  }

  .card-images {
    margin-top: 40px;
  }

  .card1 {
    grid-area: cardone;
  }

  .card2 {
    grid-area: cardtwo;
  }

  .card3 {
    grid-area: cardthree;
  }

  .card4 {
    grid-area: cardfour;
  }

  .cards {
    padding: 32px;
  }

  .card-title {
    margin-bottom: 6px;
  }
}
